<form class="search-form" action="#" method="GET">
    <div class="input-group">
        <input type="text" name="search" class="form-control search-input" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-default close-search waves-effect waves-button waves-classic" type="button"><i class="fa fa-times"></i></button>
        </span>
    </div><!-- Input Group -->
</form><!-- Search Form -->
<main class="page-content content-wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="sidebar-pusher">
                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="logo-box">
                <a href="index-2.html" class="logo-text"><span>GRH</span></a>
            </div><!-- Logo Box -->
            <div class="search-button">
                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic show-search"><i class="fa fa-search"></i></a>
            </div>
            <div class="topmenu-outer">
                <div class="top-menu">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-button waves-classic sidebar-toggle"><i class="fa fa-bars"></i></a>
                        </li>
                        <li>
                            <a href="#cd-nav" class="waves-effect waves-button waves-classic cd-nav-trigger"><i class="fa fa-diamond"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-button waves-classic toggle-fullscreen"><i class="fa fa-expand"></i></a>
                        </li>
                        <li class="dropdown">
                            <a data-target="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                <i class="fa fa-cogs"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-md dropdown-list theme-settings" role="menu">
                                <li class="li-group">
                                    <ul class="list-unstyled">
                                        <li class="no-link" role="presentation">
                                            Fixed Header
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right fixed-header-check" checked>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="li-group">
                                    <ul class="list-unstyled">
                                        <li class="no-link" role="presentation">
                                            Fixed Sidebar
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right fixed-sidebar-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Horizontal bar
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right horizontal-bar-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Toggle Sidebar
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right toggle-sidebar-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Compact Menu
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right compact-menu-check">
                                            </div>
                                        </li>
                                        <li class="no-link" role="presentation">
                                            Hover Menu
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right hover-menu-check">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="li-group">
                                    <ul class="list-unstyled">
                                        <li class="no-link" role="presentation">
                                            Boxed Layout
                                            <div class="ios-switch pull-right switch-md">
                                                <input type="checkbox" class="js-switch pull-right boxed-layout-check">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="li-group">
                                    <ul class="list-unstyled">
                                        <li class="no-link" role="presentation">
                                            Choose Theme Color
                                            <div class="color-switcher">
                                                <a class="colorbox color-blue" href="layout-blankca00.html?theme=blue" title="Blue Theme" data-css="blue"></a>
                                                <a class="colorbox color-green" href="layout-blankaf91.html?theme=green" title="Green Theme" data-css="green"></a>
                                                <a class="colorbox color-red" href="layout-blank0e99.html?theme=red" title="Red Theme" data-css="red"></a>
                                                <a class="colorbox color-white" href="layout-blank13d4.html?theme=white" title="White Theme" data-css="white"></a>
                                                <a class="colorbox color-purple" href="layout-blank938c.html?theme=purple" title="purple Theme" data-css="purple"></a>
                                                <a class="colorbox color-dark" href="layout-blank4965.html?theme=dark" title="Dark Theme" data-css="dark"></a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="no-link"><button class="btn btn-default reset-options">Reset Options</button></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-button waves-classic show-search"><i class="fa fa-search"></i></a>
                        </li>

                        <li>
                            <a href="#/logout" class="log-out waves-effect waves-button waves-classic">
                                <span><i class="fa fa-sign-out m-r-xs"></i>se déconnecter</span>
                            </a>
                        </li>

                    </ul><!-- Nav -->
                </div><!-- Top Menu -->
            </div>
        </div>
    </div><!-- Navbar -->
    <div class="page-sidebar sidebar">
        <div class="page-sidebar-inner slimscroll">
            <div class="sidebar-header">
                <div class="sidebar-profile">
                    <a href="javascript:void(0);">
                        <div class="sidebar-profile-details">
                            <span>{{nom}}<br><small>Admin</small></span>
                        </div>
                    </a>
                </div>
            </div>
            <ul class="menu accordion-menu">

                <li class="active"><a href="#/admin/main" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Accueil</p></a></li>
                <li><a href="#/admin/comptes" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Les comptes</p></a></li>


                <li class="droplink">
                    <a href="" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-briefcase"></span><p>Gestion general</p><span class="arrow"></span></a>
                    <ul class="sub-menu">
                        <li><a href="#/admin/addPrim">Ajouter primes</a></li>
                        <li><a href="">Ajouter responsable</a></li>
                        <li><a href="">Configurer departement</a></li>

                        
                    </ul>
                </li>
                
                <li class="droplink">
                    <a href="" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-stats"></span><p>Statistique</p><span class="arrow"></span></a>
                    <ul class="sub-menu">
                        <li><a href="">Employees</a></li>
                        
                    </ul>
                </li>
                <li class="droplink">
                    <a href="" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-cog"></span><p>Configuration</p><span class="arrow"></span></a>
                    <ul class="sub-menu">
                        <li><a href="#/admin/config">Table des employés </a></li>
                    </ul>
                </li>

                <li><a href="#/logout" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-log-in"></span><p>se déconnecter</p></a></li>


            </ul>
        </div><!-- Page Sidebar Inner -->
    </div><!-- Page Sidebar -->



    <div class="page-inner">

        <div ui-view></div>

        <div id="main-wrapper">
            <div class="row">
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
        <div class="page-footer">
            <p class="no-s">2017 &copy; Gl3 ppp.</p>
        </div>
    </div><!-- Page Inner -->
</main><!-- Page Content -->



<nav class="cd-nav-container" id="cd-nav">
    <header>
        <h3>Navigation</h3>
        <a href="#0" class="cd-close-nav">Fermer</a>
    </header>
    <ul class="cd-nav list-unstyled">
        <li class="cd-selected" data-menu="index">
            <a href="#/admin/main">
                <span>
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                <p>Accueil</p>
            </a>
        </li>
        <li data-menu="profile">
            <a href="#/admin/comptes">
                <span>
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                <p>Les comptes</p>
            </a>
        </li>
        <li data-menu="inbox">
            <a href="https://www.gmail.com">
                <span>
                    <i class="glyphicon glyphicon-envelope"></i>
                </span>
                <p>Envoyer un email</p>
            </a>
        </li>
        <li data-menu="#">
            <a href="">
                <span>
                    <i class="glyphicon glyphicon-tasks"></i>
                </span>
                <p>les tâches</p>
            </a>
        </li>
        <li data-menu="#">
            <a href="#/admin/config">
                <span>
                    <i class="glyphicon glyphicon-cog"></i>
                </span>
                <p>Configuration general</p>
            </a>
        </li>
        <li data-menu="calendar">
            <a href="">
                <span>
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                <p>Calendrier</p>
            </a>
        </li>
    </ul>
</nav>
<div class="cd-overlay"></div>