
            <div class="page-title">
                <h3>Prime</h3>
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index-2.html">Acueil</a></li>
                        <li class="active">Prime</li>
                    </ol>
                </div>
            </div>
            <div id="main-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title">Ajouter prime</h4>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" ng-submit="add()">
                                    <div class="form-group">
                                        <label for="input-Default" class="col-sm-2 control-label">label</label>
                                        <div class="col-sm-10">
                                            <input type="text" ng-model="prim.label" class="form-control" id="input-Default">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-Default" class="col-sm-2 control-label">Type</label>
                                        <div class="col-sm-10">
                                            <input type="text" ng-model="prim.type" class="form-control" id="input-Default">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-Default" class="col-sm-2 control-label">Valeur</label>
                                        <div class="col-sm-10">
                                            <input type="text" ng-model="prim.valeur" class="form-control" id="input-Default">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-Default" class="col-sm-2 control-label">Exoneres</label>
                                        <div class="col-sm-10">
                                            <input type="text" ng-model="prim.exoneres" class="form-control" id="input-Default">
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Ajouter</button>
                                </form>
                                {{errors}}
                            </div>
                        </div>
                    </div>
                </div><!-- Row -->
            </div><!-- Main Wrapper -->
