<div class="page-inner">
    <div class="page-title">
        <h3>Ajouter conge</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="index-2.html">Home</a></li>
                <li><a href="#">Conge</a></li>
                <li class="active">Ajouter conge</li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Ajouter Conge</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">CIN</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Nom</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Prenom</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Adresse</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Nombre d'enfant</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Lieu de naissance</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Date de naissance</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Matricule</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Statut social</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Telephone</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Nationalité</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">NSS</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Grade</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':error,'has-feedback':error}">
                                <label for="input-Default" class="col-sm-2 control-label">Genre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-Default" ng-model="mat">
                                    <span ng-show="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                           
                                <input type="submit" class="btn btn-info pull-right" value="Ajouter" ng-click="AddConge();" />
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
</div>