<div class="page-title">
    <h3>Form Wizard</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li class="active">Create Employee</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="rootwizard">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a data-target="#tab1" data-toggle="tab"><i class="fa fa-user m-r-xs"></i>Personal Info</a></li>
                            <li role="presentation"><a data-target="#tab2" data-toggle="tab"><i class="fa fa-truck m-r-xs"></i>Contrat</a></li>
                            <li role="presentation"><a data-target="#tab3" data-toggle="tab"><i class="fa fa-truck m-r-xs"></i>Bank Info</a></li>
                            <li role="presentation"><a data-target="#tab4" data-toggle="tab"><i class="fa fa-check m-r-xs"></i>Finish</a></li>
                        </ul>


                        <div class="progress progress-sm m-t-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            </div>
                        </div>
                        <form ng-submit="AddEmp()" id="wizardForm">
                            <div class="tab-content">
                                <div class="tab-pane active fade in" id="tab1">
                                    <div class="row m-b-lg">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group col-md-6"  ng-show="config.CIN">
                                                    <label>CIN</label>
                                                    <input type="text"  ng-model="data.CIN" class="form-control">
                                                </div>
                                                <div class="form-group  col-md-6" ng-show="config.Nom">
                                                    <label>Nom</label>
                                                    <input type="text" ng-model="data.Nom" class="form-control col-md-6">
                                                </div>
                                                <div class="form-group col-md-12" ng-show="config.Prenom">
                                                    <label>Prenom</label>
                                                    <input type="text" class="form-control" ng-model="data.Prenom">
                                                </div>
                                                <div class="form-group col-md-12" ng-show="config.Adresse">
                                                    <label>Adresse</label>
                                                    <input type="text" ng-model="data.Adresse" class="form-control">
                                                </div>
                                                <div class="form-group col-md-12" ng-show="config.Matricule">
                                                    <label>Matricule</label>
                                                    <input type="text" ng-model="data.Matricule" class="form-control">
                                                </div>
                                                <div class="form-group col-md-12" ng-show="config.StatutSocial">
                                                    <label>Statut Social</label>
                                                    <input type="text" ng-model="data.StatutSocial" class="form-control">
                                                </div>
                                                <div class="form-group col-md-12" ng-show="config.Genre">
                                                    <label>Genre</label>
                                                    <input type="text" ng-model="data.Genre" class="form-control">
                                                </div>
                                                <div class="form-group col-md-12" ng-show="config.LieuNaissance">
                                                    <label>Lieu de naissance</label>
                                                    <input type="text" ng-model="data.LieuNaissance" class="form-control">
                                                </div>
                                                <div class="form-group col-md-12" ng-show="config.DateNaissance">
                                                    <label>Date de naissance</label>
                                                    <input type="text" ng-model="data.DateNaissance" class="form-control">
                                                </div>
                                                <div class="form-group col-md-12" ng-show="config.NombreEnfant">
                                                    <label>Nombre Enfant</label>
                                                    <input type="text" ng-model="data.NombreEnfant" class="form-control">
                                                </div>
                                                <div class="form-group col-md-12" ng-show="config.Nationalite">
                                                    <label>Nationalite</label>
                                                    <input type="text" ng-model="data.Nationalite" class="form-control">
                                                </div>
                                                <div class="form-group col-md-12" ng-show="config.Telephone">
                                                    <label>Telephone</label>
                                                    <input type="text" ng-model="data.Telephone" class="form-control">
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label>Departement</label>
                                                    <select class="form-control m-b-sm" ng-model="departement">
                                                        <option ng-repeat="dep in deps track by $index " value="{{dep.Libelle}}">{{dep.Libelle}}</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Personal Info</h3>
                                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab2">
                                    <div class="row m-b-lg">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>Numero</label>
                                                    <input type="text" ng-model="contrat.Numero" class="form-control">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Date de debut</label>
                                                    <input type="date" ng-model="contrat.DateDebut" class="form-control">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Date de fin</label>
                                                    <input type="date" ng-model="contrat.DateFin" class="form-control">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Type Contrat</label>
                                                    <select class="form-control m-b-sm" ng-model="contrat.Fk_TypeContrat">
                                                        <option ng-repeat="type in types track by $index " value="{{type.id}}">{{dep.Type}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Categorie</label>
                                                    <select class="form-control m-b-sm" ng-model="contrat.FK_Categorie">
                                                        <option ng-repeat="cat in categories track by $index " value="{{cat.id}}">{{cat.Libelle}}</option>
                                                    </select>
                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab3">
                                    <div class="row">

                                        <div class="form-group col-md-12">
                                            <label>Numero compte</label>
                                            <input type="text" class="form-control" ng-model="bank.NumeroCompte">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="exampleInputExpiration">Code Bank</label>
                                            <input type="text" class="form-control date-picker" ng-model="bank.CodeBanque">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Domiciliation</label>
                                            <input type="text" class="form-control" ng-model="bank.Domiciliation">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Code Guichet </label>
                                            <input type="text" class="form-control" ng-model="bank.CodeGuichet">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>ReglementPar </label>
                                            <input type="text" class="form-control" ng-model="bank.ReglementPar">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Cle RIB </label>
                                            <input type="text" class="form-control" ng-model="bank.CleRIB">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>IBAN </label>
                                            <input type="text" class="form-control" ng-model="bank.IBAN">
                                        </div>




                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab4">
                                    <h2 class="no-s">Thank You !</h2>
                                    <div class="alert alert-info m-t-sm m-b-lg" role="alert">
                                        Congratulations ! You got the last step.
                                    </div>
                                    <input type="submit" value="OK"/>
                                </div>
                            </div>
                        </form>
                            <ul class="pager wizard">
                                <li class="previous"><a data-target="#" class="btn btn-default">Previous</a></li>
                                <li class="next"><a data-target="#" class="btn btn-default">Next</a></li>
                            </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div><!-- Row -->
