
<div class="page-title">
    <h3>Configurer employé</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="index-2.html">Accueil</a></li>
            <li><a href="#">Configuration</a></li>
            <li class="active">employé</li>
        </ol>
    </div>
</div>


<div id="main-wrapper">
    <div class="row">
        <div class="mailbox-content">

            <table class="table">
                <thead>
                    <tr>

                        <th>

                            Attribut

                        </th>
                        <th>
                            Existe
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="unread">

                        <td class="hidden-xs">
                            CIN
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.CIN"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Nom
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.Nom"></span>
                        </td>


                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Prenom
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.Prenom"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Adresse
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.Adresse"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Nombre d'enfants
                        </td>
                        <td class="hidden-xs" ng-model="configList.NombreEnfants">
                            <span><input type="checkbox" class="checkbox-mail"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Lieu de naissance
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.LieuNaissance"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Date de naissance
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.DateNaissance"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Matricule
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.Matricule"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Statut social
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.StatutSocial"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Telephone
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.Telephone"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Nationalité
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.Nationalite"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Numero securite social
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.NSS"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Grade
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.Grade"></span>
                        </td>

                    </tr>
                    <tr class="unread">

                        <td class="hidden-xs">
                            Genre
                        </td>
                        <td class="hidden-xs">
                            <span><input type="checkbox" class="checkbox-mail" ng-model="configList.Genre"></span>
                        </td>

                    </tr>

                </tbody>

            </table>

            <div>
                <button type="button" class="btn btn-success btn-rounded" ng-click="submit()">Confirmer</button>
                <h1>{{Genre}}</h1>
            </div>
        </div>
        <div class="alert alert-danger" ng-show="error">
            <strong>Erreur!</strong>
        </div>
    </div><!-- Row -->
</div><!-- Main Wrapper -->
