
<div class="page-title">
    <h3>Employé</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="index-2.html">Accueil</a></li>
            <li class="active">Employé</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div><h1>Liste des employés : {{Emp.length}}</h1></div>




                <div class="panel-body">
                    <div class="table-responsive project-stats">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Matricule</th>
                                    <th>CIN</th>
                                    <th>Nom</th>
                                    <th>Date de naissance</th>
                                    <th>Telephone</th>
                                    <th>En travail</th>
                                    <th>Grade</th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr ng-repeat="x in resolveReferences(Emp)" >
                                 <th scope="row"><a href="#/responsable/detailEmployee?id={{x.Id}}">{{x.Matricule}} </a></th>
                                    <th scope="row">{{x.CIN}} </th>
                                    <td>{{x.Nom + ' ' + x.Prenom}}</td>
                                    <td scope="row">{{x.DateDeNaissance.split('T')[0]+', '+x.LieuDeNaissance}}</td>
                                    <td scope="row">{{x.Telephone}}</td>

                                    <td><span class="label label-info">{{x.Etat}}</span></td>
                                    <td>{{x.Grade}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>













            </div>
        </div>
    </div><!-- Row -->
</div><!-- Main Wrapper -->
