
<div class="page-title">
    <h3>Gestion des employés</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="index-2.html">Home</a></li>
            <li><a href="#">Employees</a></li>
            <li class="active">UploadFile</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">


    <form ng-show="upload" ng-submit="uploadFile()">
        <div class="form-group">
            <label class="col-sm-3 control-label">Choisir un fichier excel</label>
            <div class="col-sm-6">
                <input type='file' class="form-control" ng-model='file' base-sixty-four-input>
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-success btn-rounded" type="submit" value="UploadFile" />
        </div>
    </form>



    <form ng-hide="upload" ng-submit="genrateData()">

        <div class="form-group">
            <label class="col-sm-2 control-label">Choisir vos sheets</label>
            <div class="col-sm-10">
                <div ng-repeat="sheet in details">
                    <input type="checkbox" name="myname"
                           checklist-model="data.Sheets" checklist-value="sheet" />{{sheet}}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Choisir Etablissement</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="data.Etablissement">
                    <option ng-repeat="e in etablissements" ng-value="e.Id">{{e.Label}}</option>
                </select>
            </div>
        </div>

        <div></div>
        <div class="form-group">
            <input class="btn btn-success btn-rounded" type="submit" value="Confirmer" />
        </div>

    </form>

</div><!-- Main Wrapper -->



<script src="assets/plugins/pace-master/pace.min.js"></script>
<script src="assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/switchery/switchery.min.js"></script>
<script src="assets/plugins/uniform/jquery.uniform.min.js"></script>
<script src="assets/plugins/offcanvasmenueffects/js/classie.js"></script>
<script src="assets/plugins/offcanvasmenueffects/js/main.js"></script>
<script src="assets/plugins/waves/waves.min.js"></script>
<script src="assets/plugins/3d-bold-navigation/js/main.js"></script>
<script src="assets/js/modern.min.js"></script>
<script src="assets/js/pages/inbox.js"></script>


</div>