
<div class="page-title">
    <h3>Comptes</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="">Accueil</a></li>
            <li class="active">Comptes</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Add rows</h4>
                </div>
                <div class="panel-body">
                    <button type="button" ng-click="Add()" class="btn btn-success m-b-sm" data-toggle="modal" data-target="#myModal">Add New Comptes</button>
                    <!-- Modal -->
                    <form id="add-row-form" ng-submit="postdata()">
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="formdata.Login" placeholder="Login" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" ng-model="formdata.Password" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text"class="form-control" ng-model="formdata.Role" placeholder="Role" required>
                                        </div>
                                        <select class="form-control" ng-model="formdata.Etablissement">
                                            <option ng-repeat="e in etablissements" ng-value="e.Id">{{e.Label}}</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input type="submit" id="add-row" class="btn btn-success"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <div id="example3_wrapper" class="dataTables_wrapper">
                            <div class="dataTables_length" id="example3_length">
                                <label>Show 
                                    <select name="example3_length" aria-controls="example3" class="">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> 
                                 entries</label>                           
                            </div>
                            
                            <div id="example3_filter" class="dataTables_filter">
                                <label>Search:<input type="search" class="" placeholder="Search" ng-model="search"></label>
                            </div>
                            

                            <table id="example3" class="display table dataTable" style="width: 100%;" role="grid" aria-describedby="example3_info">
                                <thead>
                                    <tr role="row">
                                    <th  ng-class="(sortType != 'Nom') ? ['sorting'] : (!sortReverse) ? ['sorting_asc'] : ['sorting_desc']" ng-click="sortType = 'Nom'; sortReverse = !sortReverse" rowspan="1" colspan="1" style="width: 176px;" >Nom Employee</th>

                                    <th ng-class="(sortType != 'Login') ? ['sorting'] : (!sortReverse) ? ['sorting_asc'] : ['sorting_desc']" ng-click="sortType = 'Login'; sortReverse = !sortReverse" rowspan="1" colspan="1" style="width: 216px;">Login</th>

                                    <th ng-class="(sortType != 'Etablissement') ? ['sorting'] : (!sortReverse) ? ['sorting_asc'] : ['sorting_desc']" ng-click="sortType = 'Etablissement'; sortReverse = !sortReverse" rowspan="1" colspan="1"  style="width: 134px;">Etablissement</th>

                                    <th ng-class="(sortType != 'Role') ? ['sorting'] : (!sortReverse) ? ['sorting_asc'] : ['sorting_desc']" ng-click="sortType = 'Role'; sortReverse = !sortReverse" rowspan="1" colspan="1"  style="width: 253px;">Role</th>

                                </thead>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Nom employee</th>
                                        <th rowspan="1" colspan="1">Login</th>
                                        <th rowspan="1" colspan="1">Etablissement</th>
                                        <th rowspan="1" colspan="1">Role</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr role="row" ng-repeat="c in data | orderBy:sortType:sortReverse | filter:search ">
                                        <td>
                                            {{ c.Nom }}
                                            <span ng-show="c.Nom==null" class="label label-danger">Non active</span>
                                        </td>
                                        <td>{{ c.Login }}</td>

                                        <td>{{ c.Etablissement }}</td>
                                        <td>{{ c.Role }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="dataTables_info" id="example3_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div>
                            <div class="dataTables_paginate paging_simple_numbers" id="example3_paginate">
                                <a class="paginate_button previous disabled" aria-controls="example3" data-dt-idx="0" tabindex="0" id="example3_previous">Previous</a>
                                <span><a class="paginate_button current" aria-controls="example3" data-dt-idx="1" tabindex="0">1</a></span>
                                <a class="paginate_button next disabled" aria-controls="example3" data-dt-idx="2" tabindex="0" id="example3_next">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div><!-- Row -->
</div><!-- Main Wrapper -->
</div>


    <!-- Javascripts -->
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="assets/plugins/pace-master/pace.min.js"></script>
    <script src="assets/plugins/jquery-blockui/jquery.blockui.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/plugins/switchery/switchery.min.js"></script>
    <script src="assets/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="assets/plugins/offcanvasmenueffects/js/classie.js"></script>
    <script src="assets/plugins/offcanvasmenueffects/js/main.js"></script>
    <script src="assets/plugins/waves/waves.min.js"></script>
    <script src="assets/plugins/3d-bold-navigation/js/main.js"></script>
    <script src="assets/plugins/jquery-mockjax-master/jquery.mockjax.js"></script>
    <script src="assets/plugins/moment/moment.js"></script>
    <script src="assets/plugins/datatables/js/jquery.datatables.min.js"></script>
    <script src="assets/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="assets/js/modern.min.js"></script>
    <script src="assets/js/pages/table-data.js"></script>
